body {
  height: 100vh;
  background: linear-gradient(90deg, rgba(208,196,215,1) 0%, rgba(203,228,235,1) 50%, rgba(204,217,171,1) 100%);
}

.container {
  display: flex;
  width: 75vw;
  height: 75vh;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

#new-task-content, p {
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  border-radius: 50px;
  border-color: white;
  border-style: solid;
  border-width: thin;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#new-task-content {
  font-size: 17px;
  font-weight: bold;
  width: 500px;
  margin-bottom: 10px;
  margin-right: -5px;
  padding: 3px;
  text-align: center;
}

#new-task-content:focus {
  outline: none;
}

p {
  font-size: 15px;
  font-weight: bolder;
  min-width: 500px;
  max-width: 500px;
  margin-left: 15px;
  margin-top: 10px;
  padding: 5px;
}

/* buttons */

.btn {
  border: none;
  color: grey;
  background-color: transparent;
  font-size: 20px;
}

.btn:focus:not(.focus-visible), .mark-complete:focus:not(.focus-visible) {
  outline: none;
  box-shadow: none;
}

.delete {
  margin-top: 5px;
}

.mark-complete {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid grey;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.mark-complete:checked + label:after {
  content: "✔";
  font-size: 13px;
  color: grey;
  margin-left: -18px;
  margin-top: -7px;
  position: absolute;
}

/* media queries for smaller screens */

@media screen and (max-width: 771px) {
  #new-task-content {
    max-width: 400px;
  }
  p {
    min-width: 400px;
    max-width: 400px;
  }
  .container {
    width: 100vw;
  }
}

@media screen and (max-width: 505px) {
  #new-task-content {
    max-width: 300px;
  }
  p {
    min-width: 300px;
    max-width: 300px;
  }
  .container {
    width: 100vw;
  }
}
